<!-- {% extends "admin/base_site.html" %}

{% block content %}
    <h2>Group 1</h2>
    <ul>
    {% for model in app_list.group1 %}
        <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
    {% endfor %}
    </ul>

    <h2>Group 2</h2>
    <ul>
    {% for model in app_list.group2 %}
        <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %} -->

<!-- {% extends "admin/index.html" %} -->
<!-- {% extends "admin/base_site.html" %}
{% block content %}
  <h2>Admin Section</h2>
  <ul>
    <li><a href="{% url 'admin:app_student_master_changelist' %}">Student Master</a></li>
    <li><a href="{% url 'admin:app_student_fees_changelist' %}">Student Fees</a></li>
  </ul>

  <h2>Fees Section</h2>
  <ul>
    <li><a href="{% url 'admin:app_cheque_status_changelist' %}">Cheque Status</a></li>
  </ul>

  <h2>Reports</h2>
  <ul>
    <li><a href="{% url 'admin:app_transport_changelist' %}">Transport</a></li>
  </ul>
{% endblock %} -->

