{% extends "admin/change_list.html" %}

{% block search %} 
<div class="row">
    <form method="GET">
        <input type="text" name="search_admission_no" value="{{ search_admission_no }}" placeholder="Search by Admission no." />
        <input type="text" name="search_student" value="{{ search_student }}" placeholder="Search by Student Name" />
        <input type="text" name="search_class" value="{{ search_class }}" placeholder="Search by Class No." />
        <input type="text" name="search_section" value="{{ search_section }}" placeholder="Search by Section" />
        <button type="submit" class="button" style="padding: 6px;margin-left: 6px;">Search</button>
    </form>
</div>
{% endblock %}
